{% extends 'base.html.twig' %}

{% block title %}Select2 Form Examples{% endblock %}

{% block body %}

    <div class="container">

        <h1>{{ formClass }}</h1>
        {% if errorMessage %}
        <div class="text-danger">{{ errorMessage }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                {{ form(form) }}
            </div>
            <div class="col-md-6">
                <pre>{{ source }}</pre>
            </div>

        </div>
    </div>

{% endblock %}
